.add_button {
    background: #f2f2f2;
    color: #525252;
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 13px;
    margin-left: 10px;
    border: none;
    outline: none;
    box-shadow: none;
}
.add_button:hover {
    cursor: pointer;
    background: #fff;
}

.plus_icon {
    width: 12px;
    margin-right: 10px;
    margin-top: -2px;
}

.modal-header {
    border: none;
}
.modal-title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #525252;
    padding-top: 30px;
}

.close {
    font-size: 25px;
}


.form_label {
    color: #525252;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 40px;
}

.form_text_box {
    height: 35px;
    border: 1px solid #d8d8d8;
    color: #4a4a4a;
    font-size: 12px;
    margin-left: 20px;
    outline: none;
    box-shadow: none;
}

::-webkit-input-placeholder {
    color: #d8d8d8;
}

.input_div {
    margin-top: 20px;
}

.address_div {
    margin-top: 40px;
}

.address {
    padding: 0;
    margin-left: 20px;
}

.address_text_box {
    width: 100%;
    margin-left: 0;
}
.sub_address_text_box, .sub_address_text_box_right {
    float: left;
    width: 47.5%;
    margin-top: 20px;
}
.sub_address_text_box_right {
    margin-left: 5%;
}
.country_text_box {
    margin-top: 20px;
}

.submit_button {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 150px;
}

