<div class="arCarousel">
  <owl-carousel 
  [options]="customOptions"
  [carouselClasses]="['owl-theme', 'sliding']">
  <div class="col-md-12">
      <div class="caTable">
      <h2>AB’s - Velacherry</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time Slot</th>
            <th>Free Tables</th>
            <th>Pending</th>
            <th>Waitlisted</th>
            <th>Confirmed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>							
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-12">
      <div class="caTable">
      <h2>AB’s - dsfdsfsg</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time Slot</th>
            <th>Free Tables</th>
            <th>Pending</th>
            <th>Waitlisted</th>
            <th>Confirmed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>							
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
      <div class="caTable">
      <h2>AB’s - dsfdsfsg</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time Slot</th>
            <th>Free Tables</th>
            <th>Pending</th>
            <th>Waitlisted</th>
            <th>Confirmed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>
          <tr>
            <td>12:00 - 02:30</td>
            <td>12</td>
            <td>33/260</td>
            <td>0/0</td>
            <td>33/260</td>
          </tr>							
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <div class="caTable">
    <h2>AB’s - dsfdsfsg</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time Slot</th>
          <th>Free Tables</th>
          <th>Pending</th>
          <th>Waitlisted</th>
          <th>Confirmed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12:00 - 02:30</td>
          <td>12</td>
          <td>33/260</td>
          <td>0/0</td>
          <td>33/260</td>
        </tr>
        <tr>
          <td>12:00 - 02:30</td>
          <td>12</td>
          <td>33/260</td>
          <td>0/0</td>
          <td>33/260</td>
        </tr>
        <tr>
          <td>12:00 - 02:30</td>
          <td>12</td>
          <td>33/260</td>
          <td>0/0</td>
          <td>33/260</td>
        </tr>							
      </tbody>
    </table>
  </div>
</div>
  </owl-carousel>
</div>
