

<app-headermain> </app-headermain>
<!-- <app-restobutton buttonText="Next" color="#ff0000" bgcolor="#00ff00" cornerradius="10px" (setOnClick)="onButtonClick()" ></app-restobutton> -->
<div class="container-fluid BodyBackground">
    <div class="row subheader">
        <div class="col-md-6 d-flex justify-content-start">
            <app-subheadlerleft></app-subheadlerleft>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <app-subheadlerright></app-subheadlerright>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 d-flex justify-content-start">
          <app-leftsidebar> </app-leftsidebar>
        </div>
        <div class="col-sm-9 col-md-9 d-flex justify-content-start">
            <!-- <app-details></app-details>> -->
        </div>
    </div>
  </div>

<app-details></app-details>
<app-dashboard></app-dashboard>
<app-footer> </app-footer>

<p>
  welcome works!
</p>
