.restoAvailableText p {font-size: 13px; color: #4a4a4a;}
.restoAvailableText p span{font-weight: 600; color: #f26657;}
.caTDS p{margin-bottom: 0;}
.caTable{border-radius: 5px; border:#8f8f8f 1px solid;}
.caTable h2{background: #f2f2f2; text-align: center; font-weight: 700; font-size: 14px; 
	color: #4a4a4a; height: auto; padding: 16px 0; border-top-right-radius: 5px; border-top-left-radius: 5px; margin-bottom: 0;}


