<button class="cmnBtn" (click)="openLg(content)">Check Availability</button>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="capMain">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Check Availability</h4>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row mb-5 caTDS">            
				<div class="col-md-7 restoAvailableText">
					<p>Availability at restaurents in <span>Chennai</span> for <span>20.10.2018</span></p>
				</div>
				<div class="col-md-3">
					<p>Date</p>
				</div>
				<div class="col-md-2">
					<p>AB’s Porur</p>
				</div>
			</div> 
			
			<div class="row mb-5">
				<div class="offset-md-2"></div>
				<div class="col-md-8 caTable pl-0 pr-0">
					<h2>AB’s - Velacherry</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Time Slot</th>
								<th>Free Tables</th>
								<th>Pending</th>
								<th>Waitlisted</th>
								<th>Confirmed</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12:00 - 02:30</td>
								<td>12</td>
								<td>33/260</td>
								<td>0/0</td>
								<td>33/260</td>
							</tr>
							<tr>
								<td>12:00 - 02:30</td>
								<td>12</td>
								<td>33/260</td>
								<td>0/0</td>
								<td>33/260</td>
							</tr>
							<tr>
								<td>12:00 - 02:30</td>
								<td>12</td>
								<td>33/260</td>
								<td>0/0</td>
								<td>33/260</td>
							</tr>							
						</tbody>
					</table>
				</div>
			</div>

			<app-availabilerestaurents></app-availabilerestaurents>


		</div>
	</div>

</ng-template>


