
  <div class="row outlet_heading">

    <div class="col-md-12">
      <div class= "outlet_text float-left">Outlets</div>
      <app-outlet-add-outlet></app-outlet-add-outlet>
      <!-- <div class= "add_button float-right"><span><img class= "plus_icon" src= "assets/images/plus.png"></span>Add Outlet</div> -->
      
      <app-outlet-add-company></app-outlet-add-company>
      <!-- <div class= "add_button float-right"><span><img class= "plus_icon" src= "assets/images/plus.png"></span>Add Company</div> -->

      <app-outlet-add-brand></app-outlet-add-brand>
      <!-- <div class= "add_button float-right"><span><img class= "plus_icon" src= "assets/images/plus.png"></span>Add Brand</div> -->
    </div>

  </div>

  <div class="row outlet-display">
    <div class="col-md-12 ">
      <div class= "add_logo float-left">
        <div class= "add_logo_text">Add Logo</div>
      </div>

      <div class= "outlet_name float-left">
        Outlet Name Outlet Name Outlet Name Outlet Name Outlet Name
      </div>

      <div class= "company_name float-left">
        Company
      </div>

      <div class= "comapny_area float-left">
        Indiranagar/Bangalore
      </div>

      <div class= "company_email float-left">
        Emailbrnad@outlook.com
      </div>

      <div class= "company_edit float-right">
        <img src= "assets/images/edit.png">
      </div>

    </div>
  </div>

