.carousel{width: 100%;}
.carousel img{width:100%; height: 100vh;}
.carousel-caption{width:650px; top: 16%; right: 5%; left: auto; text-align: left;}
.carousel-caption img{width: auto; height: auto; margin-bottom: 15px;}
.carousel-caption img+img{margin-left: 7px;}
.carousel-caption h3{font-weight: 600; font-size: 25px; margin-bottom: 25px;}
.carousel-caption p{font-size: 14px; font-weight: 500; margin-bottom: 25px;}
.loginbtn{width:200px; height: 45px; background: #fff; border-radius: 5px; text-align: center; color: #f26657; font-size: 15px;padding: 10px;}
.loginbtn:hover{color: #fff; background: #f26657;}

