
<ngb-carousel *ngIf="banners">
  <ng-template ngbSlide *ngFor = "let banner of banners; let i = index">
    <img [src]="banner.bannerUrl" alt="first slide">
    <!-- <img src="assets/images/loginslider1.jpg" alt="first slide">  -->
    <div class="carousel-caption">
      <img src="assets/images/artboard1.png" alt="">
      <img src="assets/images/artboard2.png" alt="">
      <div class="clearfix"></div>
      <h3>{{banner.bannerName}}</h3>
      <p>{{banner.bannerDescription}}</p>
        <a href="#" class="btn loginbtn">Learn How it Works</a>
      </div> 
  </ng-template>
</ngb-carousel>