<!-- Nav tabs -->
<ul class="nav nav-tabs navstyling" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#lr">Dashboard Live Requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#rl">Reservation List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#wwl">Walkin Waiting List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#history">History</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content TabBg">
  <div id="lr" class="container tab-pane active"><br>
    <div class="row">
      <div class="col-md-3 d-flex">
        <h4 class="live_req">Live Requests</h4>
      </div>
      <div class="col-md-9 d-flex justify-content-end btnContainer">
        <button class="checkAvailability">Check Availability</button>
        <button class="adresrv">Add Reservation</button>
        <button class="add_walkin">Add Walkin</button>
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
              Button dropdown <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-md-12 d-flex bookingDetails">
        <div class="col-md-4 d-flex">14-11-2018</div>
        <div class="col-md-8 d-flex justify-content-end">
          <span>Bookings - 5</span>
          <span>Diners - 12</span>
        </div>
      </div>
      <div class="col-md-12 d-flex">
      <table style="width:100%; font-size: 12px;">
          <tr *ngFor="let user of respData">
              <td><img src="assets/images/dinein_table.png"/></td>
              <td>
                  <div class="usernameContainer">
                    <span>
                        <img src="assets/images/userdetails.png"/>
                    </span>
                    <span>
                      <strong>{{ user.name}}</strong><br>
                      9093832344
                    </span>
                  </div>
              </td> 
              <td>
                  AB's - Jubilee Hills<br>
                  14-11-2018<br>
  
              </td>
              <td>
                Pay For <br>
                Dineout
              </td> 
              <td>
                Requested<br>
                14-11-2018<br>
                12:30PM
              </td>
              <td>
                  <b>Booked</b><br>
                  14-11-2018<br>
                  12:30PM
              </td> 
              <td>17 Visits</td>
              <td><img src="assets/images/done.png"/></td>
              <td><img src="assets/images/loading.png"/></td>
              <td><img src="assets/images/delete.png"/></td>
              <td><img src="assets/images/note.png"/></td>
              <td><img src="assets/images/edit.png"/></td>
          </tr>
         
        </table>
      </div>
    </div>
  </div>
  <div id="rl" class="container tab-pane fade"><br>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div id="wwl" class="container tab-pane fade"><br>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam.</p>
  </div>
  <div id="history" class="container tab-pane fade"><br>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam.</p>
  </div>
</div>