<div class="collapse navbar-collapse" id="navbar-mobile">
    
  <ul class="navbar-nav ml-auto">
    
    <li class="nav-item">
      <p class="topborText">Purchase Credits<br/>Balance: 5000</p>				
    </li>

    <li class="nav-item dropdown">
      <a href="#" class="navbar-nav-link qmark">
        <img src="assets/images/questionmark.png" alt="" />
      </a>					
    </li>

    <li class="nav-item dropdown">
      <a href="#" class="navbar-nav-link">
        <i class="icon-bell2"></i>
        <span class="d-md-none ml-2">Notifications</span>
        <span class="badge badge-mark border-white ml-auto ml-md-0"></span>
      </a>					
    </li>

    <li class="nav-item dropdown dropdown-user">
      <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
        <img src="assets/images/image.png" class="rounded-circle mr-2" height="28" alt="">
        <span>Inresto Inresto</span>
      </a>
      <app-headeroptions></app-headeroptions>
    </li>
  </ul>
</div>