<!-- Nav tabs -->
<ul class="nav nav-tabs navstyling" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#lr">Live Requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#rl">Reservation List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#wwl">Walkin Waiting List</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#history">History</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div id="lr" class="container tab-pane active"><br>
    <h3>HOME</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div id="rl" class="container tab-pane fade"><br>
    <h3>Menu 1</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div id="wwl" class="container tab-pane fade"><br>
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div id="history" class="container tab-pane fade"><br>
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
</div>
