<!--
<app-dashboard *ngIf="this.data.getLeftMenuIndex() == 1 && this.data.getLeftSubMenuIndex() == 101 "></app-dashboard>
<app-dashboard *ngIf="this.data.getLeftMenuIndex() == 1 && this.data.getLeftSubMenuIndex() == 102 "></app-dashboard> -->
<app-dineindashboard *ngIf="this.data.getLeftMenuIndex()==5 && this.data.getLeftSubMenuIndex()==501 "></app-dineindashboard>
<app-dineindashboard *ngIf="this.data.getLeftMenuIndex() == 5 && this.data.getLeftSubMenuIndex() == 502 "></app-dineindashboard>
<app-sales *ngIf="this.data.getLeftMenuIndex() == 2"></app-sales>
<app-inventory *ngIf="this.data.getLeftMenuIndex() == 3"></app-inventory>


