<app-headermain> </app-headermain>

<!-- <p class="shlTitle">
  <span class="groupIcon">
    <img src="assets/images/back.png" >
  </span> 
  <span>Sales</span> - Live Orders - Dine In
</p> -->
<div class="container-fluid join_main_div">

  <div class="row">
    <div class="col-md-12 go_back">
      <span class= "back_icon"><img src= "assets/images/back.png"></span>
      <span>&nbsp; Go to Dashboard</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <app-join-leftnavigation></app-join-leftnavigation>
    </div>

    <div class="col-md-9">
        <app-join-headertab></app-join-headertab>

        <app-company-profile *ngIf = "outlets_available; else show_outlets"></app-company-profile>

        <ng-template #show_outlets>
          <app-outlets></app-outlets>
        </ng-template>
    </div>

  </div>

</div>