<div class="popUp">
    <div class="AddReservation">
        <div class="AddReservationheader">
            <b>Add Reservation</b>
        </div>
        <div class="col-md-12 d-flex borderBottom">
            <div class="col-md-4 d-flex">
                <select class="form-control" id="exampleFormControlSelect1" >
                    <option>Select City / Outlet</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
                <span>Clear all</span>
            </div>
        </div>
        <div class="col-md-12 d-flex">
            <div class="col-md-4 d-flex">
               <b>Guest Details</b>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
                <span>View Timeline</span>
            </div>
        </div>
        <div class="col-md-12 d-flex">
            <div class="col-md-4 d-flex">
               <span><img src="assets/images/dashboardIcon.png"/></span>
               <select class="form-control" id="exampleFormControlSelect1" >
                    <option>India</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <input type="number" placeholder="8088193301" class="form-control"/>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
                <span>View Timeline</span>
            </div>
        </div>
    </div>
</div>