.has-error .form-control {
    border-color: #f76858;
}
.error_text{
    color: #f76858;
}
.active{
    color: #f76858;
}
.btn-primary{
    background: #f76858;
    border-color: #f76858;
}
.form-control{
    border-color: #fff #fff  #e9ecef #fff;
}
.skycolor{
    background: #a1d6ec;
    border: #a1d6ec;
}