/* You can add global styles to this file, and also  */   

html, body {font-family : 'Montserrat',sans-serif !important;background : #f2f2f2; font-size: 12px;}
.form-control:focus{box-shadow: none !important;}
.cmnBtn{margin: 0px 6px;border-radius: 5px;padding: 9px 20px;font-size: 12px;border: #f2f2f2; cursor: pointer; font-weight: 500;}
.cmnBtn:hover{background: #f76858;border: #f76858;color: #fff;}
.cmnBtn:focus, .close:focus { outline:none }
.modal-header .close{padding: .5rem !important;}
.capMain .modal-header{background: #f2f2f2; text-align: center; height: 50px; display: inherit;}
.capMain .modal-title{font-size: 16px; font-weight: 700;}
.capMain .modal-header .close{margin-top: -2.5rem}
.popupwindow .card{border: none;}

@media (min-width: 1366px){
    .popupwindow .modal-dialog{max-width: 940px !important;}
    }

.arCarousel .owl-carousel .owl-nav button.owl-prev, 
.arCarousel .owl-carousel .owl-nav button.owl-next{width: 34px; height: 34px; position: absolute; top: 40%; outline: none;}
.arCarousel .owl-carousel .owl-nav button.owl-prev{left: -14px; background:#d8d8d8 url('assets/images/prev.png') center center no-repeat;}
.arCarousel .owl-carousel .owl-nav button.owl-next{right: -14px;background:#d8d8d8 url('assets/images/next.png') center center no-repeat;}

.left-navigation-text {
    color: #d9d9d9;
    font-size: 12px;
}
.left-navigation-text-active {
    background: #f2f2f2;
    color: #525252;
    font-weight: 500;
}

.heading-20 {
    color: #525252;
    font-size: 20px;
    font-weight: 500;
}

.header-tab-active-text {
    color: #525252;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 3px solid #ff5f5f;
}

.save-button {
    font-size: 12px;
    color: white;
    padding: 7px 10px;
    text-align: center; 
    background: #f26657;
    border-radius: 5px;
    border: 1px solid #f26657;
}
.save-button:hover {
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

.cancel-button {
    font-size: 12px;
    padding: 7px 10px;
    text-align: center; 
    background: #fff;
    border: 1px solid #f26657;
    color: #f26657;
    border-radius: 5px;
}
.cancel-button:hover {
    border: 1px solid #d8d8d8;
    color: #d8d8d8;
    cursor: pointer;
}
// import other style files next to all styles
// @import '~bootstrap/scss/bootstrap'

