/* You can add global styles to this file, and also  */   

html, body {
    font-family : 'Montserrat',sans-serif !important;
    background : #f2f2f2;
}


// import other style files next to all styles
// @import '~bootstrap/scss/bootstrap'

