/* You can add global styles to this file, and also  */   

html, body {font-family : 'Montserrat',sans-serif !important;background : #f2f2f2;}
.form-control{border-color: #e4e4e4 !important; font-size: 14px !important; color: #bbbbbb !important; 
    height: 46px !important;}
.form-control:focus{box-shadow: none !important;}



// import other style files next to all styles
// @import '~bootstrap/scss/bootstrap'

