<div id="accordion" class="accordion">
    <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne" (click)="setMenuIndex(0)">
            <a class="card-title">
               <span><img src="assets/images/dashboardIcon.png"/></span> Dashboard
            </a>
        </div>
        <!-- <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
           <ul>
                <li><a href="javascript:;">Sub Menu</a></li>
           </ul>
        </div> -->
    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" (click)="setMenuIndex(1)">
            <a class="card-title">
                <span><img src="assets/images/salesIcon.png"/></span> Sales
            </a>
        </div>
        <!-- <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
            <ul>
                <li><a href="javascript:;">Sub Menu</a></li>
              </ul>
        </div> -->
    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" (click)="setMenuIndex(2)">
            <a class="card-title">
                <span><img src="assets/images/inventoryIcon.png"/></span> Inventory
            </a>
        </div>
        <!-- <div id="collapseThree" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
               </ul>
            </div>
        </div> -->
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"  (click)="setMenuIndex(3)">
            <a class="card-title">
             <span><img src="assets/images/menuIcon.png"/></span> Menu
            </a>
        </div>
        <!-- <div id="collapseFour" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"  (click)="setMenuIndex(4)">
            <a class="card-title">
             <span><img src="assets/images/dinein.png"/></span> Dine In
            </a>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Dashboard</a></li>
                    <li><a href="javascript:;">Reservations and Walkins</a></li>
                    <li><a href="javascript:;">Settings</a></li>
                </ul>
            </div>
        </div>

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" (click)="setMenuIndex(5)">
            <a class="card-title">
             <span><img src="assets/images/feedback.png"/></span> Feedback
            </a>
        </div>
        <!-- <div id="collapseSix" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" (click)="setMenuIndex(6)">
            <a class="card-title">
             <span><img src="assets/images/customer.png"/></span> Customers
            </a>
        </div>
        <!-- <div id="collapseSeven" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" (click)="setMenuIndex(7)">
            <a class="card-title">
             <span><img src="assets/images/valet.png"/></span> Valet
            </a>
        </div>
        <!-- <div id="collapse8" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" (click)="setMenuIndex(8)">
            <a class="card-title">
             <span><img src="assets/images/campaign.png"/></span> Campaigns
            </a>
        </div>
        <!-- <div id="collapse9" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" (click)="setMenuIndex(9)">
            <a class="card-title">
             <span><img src="assets/images/loyalty.png"/></span> Loyalty
            </a>
        </div>
        <!-- <div id="collapse10" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" (click)="setMenuIndex(10)">
            <a class="card-title">
             <span><img src="assets/images/offers.png"/></span> Offers
            </a>
        </div>
        <!-- <div id="collapse11" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" (click)="setMenuIndex(11)">
            <a class="card-title">
             <span><img src="assets/images/microsite.png"/></span> Micro Sites
            </a>
        </div>
        <!-- <div id="collapse12" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" (click)="setMenuIndex(12)">
            <a class="card-title">
             <span><img src="assets/images/dineout.png"/></span> Dineout
            </a>
        </div>
        <!-- <div id="collapse13" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" (click)="setMenuIndex(13)">
            <a class="card-title">
             <span><img src="assets/images/settings.png"/></span> Settings
            </a>
        </div>
        <!-- <div id="collapse14" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li><a href="javascript:;">Sub Menu</a></li>
                </ul>
            </div>
        </div> -->

        


    </div>
</div>