<div id="accordion" class="accordion">
    <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
            <a class="card-title">
               <span><img src="assets/images/dashboardIcon.png"/></span> Dashboard
            </a>
        </div>
        <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
           <ul>
                <li>Anim pariatur cliche reprehenderit</li>
                <li>Anim pariatur cliche reprehenderit</li>
                <li>Anim pariatur cliche reprehenderit</li>
           </ul>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <a class="card-title">
                <span><img src="assets/images/salesIcon.png"/></span>Sales
            </a>
        </div>
        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
            <ul>
                <li>Anim pariatur cliche reprehenderit</li>
                <li>Anim pariatur cliche reprehenderit</li>
                <li>Anim pariatur cliche reprehenderit</li>
              </ul>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <a class="card-title">
                <span><img src="assets/images/inventoryIcon.png"/></span>Inventory
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                <ul>
                    <li>Anim pariatur cliche reprehenderit</li>
                    <li>Anim pariatur cliche reprehenderit</li>
                    <li>Anim pariatur cliche reprehenderit</li>
               </ul>
            </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <a class="card-title">
             <span><img src="assets/images/menuIcon.png"/></span> Menu
            </a>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion" >
            <div class="card-body">
                    <ul>
                            <li>Anim pariatur cliche reprehenderit</li>
                            <li>Anim pariatur cliche reprehenderit</li>
                            <li>Anim pariatur cliche reprehenderit</li>
                       </ul>
            </div>
        </div>
    </div>
</div>