.profile_head_text {
    margin-top: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #f2f2f2;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px #e0e0e0;
    // border: 2px solid red;
}
.company_name {
    padding-left: 30px;
}