<nav class="navbar navbar-expand-sm headerBg navbar-dark">
   <app-headerleft></app-headerleft>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <app-headeroptions></app-headeroptions>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="assets/images/questionmark.png" alt="logo" ></a>
        </li>   
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="assets/images/notification.png" alt="logo" ></a>
        </li>
        <app-headerright></app-headerright>
    </ul>
  </nav>

  
  

<!-- /main navbar -->