<div class="reserveTab">
<h4>Assigned: F1-5</h4>

<ngb-tabset>
  <ngb-tab title="Ground Floor">
    <ng-template ngbTabContent>
      <div class="tableSeater seater2"><span class="floor">G1</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">G2</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">G3</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">G4</span> <span class="seater">2 Seater</span></div>
      <div class="clearfix"></div>
      <div class="tableSeater seater4billing"><span class="floor">G5</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">G6</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">G7</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">G8</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">G9</span> <span class="seater">4 Seater</span></div>
      <div class="clearfix"></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">G10</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">G11</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">G12</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">G13</span> <span class="seater">6 Seater</span></div>
      <div class="clearfix"></div>
      <h4 class="sTable">Selected tables: <span>G5</span></h4>
      <button class="cmnBtn">Assign</button>
      <button class="cmnBtn">Cancel</button>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="1st Floor">
    <ng-template ngbTabContent>
      <div class="tableSeater seater2"><span class="floor">FF1</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">FF2</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">FF3</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">FF4</span> <span class="seater">2 Seater</span></div>
      <div class="clearfix"></div>
      <div class="tableSeater seater4billing"><span class="floor">FF5</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">FF6</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">FF7</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">FF8</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">FF9</span> <span class="seater">4 Seater</span></div>
      <div class="clearfix"></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">FF10</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">FF11</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">FF12</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">FF13</span> <span class="seater">6 Seater</span></div>
      <div class="clearfix"></div>
      <h4 class="sTable">Selected tables: <span>FF5</span></h4>
      <button class="cmnBtn">Assign</button>
      <button class="cmnBtn">Cancel</button>
    </ng-template>
  </ngb-tab>
  
  <ngb-tab title="2nd Floor">
    <ng-template ngbTabContent>
      <div class="tableSeater seater2"><span class="floor">SF1</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">SF2</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">SF3</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">SF4</span> <span class="seater">2 Seater</span></div>
      <div class="clearfix"></div>
      <div class="tableSeater seater4billing"><span class="floor">SF5</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">SF6</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">SF7</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">SF8</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">SF9</span> <span class="seater">4 Seater</span></div>
      <div class="clearfix"></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">SF10</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">SF11</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">SF12</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">SF13</span> <span class="seater">6 Seater</span></div>
      <div class="clearfix"></div>
      <h4 class="sTable">Selected tables: <span>SF5</span></h4>
      <button class="cmnBtn">Assign</button>
      <button class="cmnBtn">Cancel</button>
    </ng-template>
  </ngb-tab>
  
  <ngb-tab title="Pool Area">
    <ng-template ngbTabContent>
      <div class="tableSeater seater2"><span class="floor">PA1</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">PA2</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">PA3</span> <span class="seater">2 Seater</span></div>
      <div class="tableSeater seater2"><span class="floor">PA4</span> <span class="seater">2 Seater</span></div>
      <div class="clearfix"></div>
      <div class="tableSeater seater4billing"><span class="floor">PA5</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">PA6</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">PA7</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">PA8</span> <span class="seater">4 Seater</span></div>
      <div class="tableSeater seater4billing"><span class="floor">PA9</span> <span class="seater">4 Seater</span></div>
      <div class="clearfix"></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">PA10</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">PA11</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">PA12</span> <span class="seater">6 Seater</span></div>
      <div class="tableSeater ts6 seater6occupied"><span class="floor">PA13</span> <span class="seater">6 Seater</span></div>
      <div class="clearfix"></div>
      <h4 class="sTable">Selected tables: <span>PA5</span></h4>
      <button class="cmnBtn">Assign</button>
      <button class="cmnBtn">Cancel</button>
    </ng-template>
	</ngb-tab>

</ngb-tabset>
</div>