
<div class="col-md-12 join_left_navigation">
  <div class= "navigation_items left-navigation-text-active">
      <span class= "navigation_img"><img src= "assets/images/userTable.png"></span>
      <span class= "navigation_name left-navigation-text-active">Companies and Outlets</span>
      <span class= "right_icon float-right"><img src= "assets/images/rightArrow.png"></span>
  </div>

  <div class= "navigation_items">
      <span class= "navigation_img"><img src= "assets/images/user.png"></span>
      <span class= "navigation_name left-navigation-text">Employee Management</span>
      <span class= "right_icon float-right"><img src= "assets/images/rightArrow.png"></span>
  </div>

  <div class= "navigation_items">
      <span class= "navigation_img"><img src= "assets/images/invoice.png"></span>
      <span class= "navigation_name left-navigation-text">Subscription and Billing</span>
      <span class= "right_icon float-right"><img src= "assets/images/rightArrow.png"></span>
  </div>

</div>
