.join_left_navigation {
    background: white;
    height: 80vh;
    padding: 10px 0;
    box-shadow: 0 2px 4px #e0e0e0;
    // border: 2px solid red;
}

.navigation_items {
    padding: 5px 20px;
    margin: 5px 0;
}

.navigation_img img {
    width: 15px;
}
.right_icon img {
    width: 8px;
}

.navigation_name {
    margin-left: 20px;
    font-size: 12px;
}