.loginLeft{width: 400px; position: absolute; top: 16%; left: 10%; z-index: 99999;  padding: 50px 40px 15px 40px; background: #fff; border-radius: 5px;}
.mb45{margin-bottom: 45px;}
::placeholder {
    color: #bbbbbb;
    opacity: 1;
}
:-ms-input-placeholder { 
   color: #bbbbbb;
}
::-ms-input-placeholder { 
   color: #bbbbbb;
}
.form-control{border-color: #e4e4e4 !important; font-size: 12px !important; color: #bbbbbb !important; 
   height: 46px !important;}
.forgotpwd{color: #4a90e2; font-size: 10px; text-decoration: underline;}
.loginbtn{width:100%; height: 45px; border-radius: 5px; background: #f26657; color: #fff;
   padding:10px;}
.inrestoAccount{font-size: 10px; color: #525252; margin-top: 10px;}
.inrestoAccount a{color: #4a90e2;}
.copyright{font-size: 10px; text-align: center; margin-top: 30px; margin-bottom: 0;}
.copyright span{color: #f26657;}
