<div class="loginLeft">
  <img src="assets/images/loginlogo.png" alt="Inresto">
  <div class="clearfix mb45"></div>
  <form action="#" method="POST" >
    <div class="form-group">        
      <input type="email" class="form-control" id="login_email" placeholder="Email Address" name="email" required>
    </div>
    <div class="form-group">        
      <input type="password" class="form-control" id="login_passowrd" placeholder="Password" name="email" required>
    </div>
    <div class="form-group">        
      <a class="forgotpwd" href="#">Forgot Password?</a>
    </div>
    <div class="clearfix mb45"></div>
    <button type="submit" class="btn loginbtn">Login</button>
  </form>
  <p class="inrestoAccount">Need a inResto Account? <a href="#">Sign-up here.</a></p>

  <p class="copyright">© 2019 Powered by <span>inResto</span></p>
</div>



